.article-title {
	color: #333;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	margin-left: 5px;
	text-indent: 0;
}
.article-title-center {
	text-align: center;
}
.article-title:hover {
	color: #333;
}
body {
	height: auto;
	min-height: 100px;
	overflow-y: scroll;
}

.navbar {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 0;
	z-index: 10;
	border-bottom: 1px solid #eee;
}
.nav-link, .nav-link:hover, .nav-link:active, .nav-link:focus {
	color: black;
}
.active {
	color: blue;
}
.badge {
	margin: 0 5px;
	cursor: pointer;
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
	margin-left: 10%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
}
.entity-list-item {
	padding: 10px;
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
}
.article-date {
	font-size: 13px;
	font-family: "Roboto", sans-serif;
	color: #666;
	margin-left: 2px;
	padding: 3px;
}
.entity-list {
	list-style: none;
	width: 100%;
	display: block;
	float: left;
	overflow: auto;
}
.entity-filter {
	padding: 5px;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	margin: auto auto;
	width: 70%;
	outline: none;
	margin-bottom: 14px;
	display: inline;
	-webkit-transition-duration: 1s;
}
.entity-filter:active, .entity-filter:focus, .entity-filter:hover {
	border-bottom: 1px solid #222;
	outline: none;
}
.entity-list-right {
	width: 70%;
	text-align: left;
	background: white;
	color: #333;
	font-size: 15px;
	font-weight: normal;
	padding: 8px;
	-webkit-transition-duration: 0.3s;
}
.entity-list-item:hover, .entity-list-item-selected, .entity-list-right:hover {
	background: #666;
	color: white;
	cursor: pointer;
}
/*::-webkit-input-placeholder { /* Chrome/Opera/Safari 
  color: white;
}
::-moz-placeholder { /* Firefox 19+ 
  color: white;
}
:-ms-input-placeholder { /* IE 10+ 
  color: white;
}
:-moz-placeholder { /* Firefox 18- 
  color: white;
}*/

.article-title:hover, .article-title:focus, .article-title:active {
	text-decoration: none;
}
.article-list {
	float: left;
	min-height: 300px;
	height: auto;
	overflow: auto;
}
.article-body {
	font-family: 'Slabo 27px', serif;
}
div.container {
}
.article-list-item {
	max-width: 650px;
	margin: 10px 30px 10px;
	padding: 10px;
}

.filter-bar {
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    z-index: 1;
    margin-bottom: 10px;
    padding: 5px 2px 5px 2px;
}

.filter-bar-filter {
	height: 25px;
}

.sort-by {
	margin-right: 10px;
	font-family: "Roboto", sans-serif;
	color: #333;
	font-size: 15px;
}

.filter-option {
	font-family: "Roboto", sans-serif;
	width: 100px;
	font-size: 13px;
}



.compare-entities {
	display: inline;
	margin-left: 5px;
	vertical-align: baseline;
	padding: 5px;
	cursor: pointer;
	margin-top: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}
.compare-entity-name {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	color: rgb(91, 95, 166);
	font-family: "Roboto", sans-serif;
}
.compare-entity-col {
	border: 1px solid #e5e5e5;
}

.rule-list-col {
	margin-top: 14px;
}
.rule-field {
	border: none;
	width: 100%;
	outline: none;
	display: inline;
	-webkit-transition-duration: 1s;
}

.rule-name {
	font-size: 35px;
	overflow: auto;
	font-weight: bold;
	resize: none;
}

table {
	table-layout: fixed;
}

.rule-entity {
	font-size: 20px;
}
.add-new-rule {
	margin-bottom: 10px;
	adding: 8px;
    font-size: 14px;
	cursor: pointer;
}
.rule-list-item {
	cursor: pointer;
	width: 85%;
	padding: 6px;
	border: 1px solid #e5e5e5;
	margin-bottom: 5px;
}
.rule-list-item-title {
	font-weight: bold;
	font-size: 15px;
}
.rule-list-item-condition {
	font-size: 14px;
}