<html ng-app="Sentiment" style="display: none;">
<head>
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" href="static/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="static/css/cosmo-bootstrap.min.css">
	<link href="static/css/Roboto.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/css/home.css" />
	<link rel="shortcut icon" href="/static/img/favicon.png" type="image/x-icon">
	<title>Sentiment Monitor</title>
</head>
<body ng-controller="sentiment_manager">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand pull-left" href="http://stride.ai"><img class="img" src="static/img/nav-logo.png" alt="Stride Logo" id="logo"></a>
			</div>
		</div>
	</nav>

	<div class="container hidden" id="loading">
        <div class="col-md-2 col-md-offset-5">
            <img src="static/img/loading.gif" alt="Loading Stride Logo" class="img loadinggif" width="100">
            <h3 class="loadingtext">Loading...</h3>
        </div>
    </div>

	<div class="container" id="articleCountCollector" ng-show="result">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<form id="noOfArticles">
					<div class="input-group textinput">
						<input name="articleCount" id="articleCount" ng-model="articleCount" type="number" ng-change="textChange()" required autocomplete="off">
						<label class="control-label" for="articleCount"><span>Number of Articles to fetch?</span></label>
					</div>
					<input type="submit" class="btn btn-success center-block form-submit">
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" id="articlesList" ng-hide="result">
		
		<div class="col-md-2 col-md-offset-10">
			<h4 class="text-right">Article Count: {{! filteredExpectedArticleList.length }}</h4>
		</div>

		<div class="col-md-3">
			<!-- <div class="input-group textinput">
				<input name="entitySearch" id="entitySearch" ng-model="entitySearch" type="text" ng-change="textChange()" required autocomplete="off">
				<label class="control-label" for="entitySearch"><span>Entity Search</span></label>
			</div> -->
			<div class="row center-block" ng-repeat="entity in topEntityList | orderBy: '-count' | limitTo: 20 track by $index">
				<div class="label label-default" ng-click="entityFilterChange( entity.name.toLowerCase() )">
					<h6>{{! entity.name | limitTo: 30 | uppercase | filter: entitySearch }} : {{! entity.count }}</h6>
				</div>
			</div>
		</div>
		
		<div class="col-md-9">
			<div class="row" ng-repeat="article in filteredExpectedArticleList = (expectedArticleList | filter: entityFilter) ">
				<div class="panel" ng-class="{'panel-success': article.articleSentiment.sentiment == 'P' || article.articleSentiment.sentiment == 'VP', 'panel-danger': article.articleSentiment.sentiment == 'Ne' || article.articleSentiment.sentiment == 'VNe', 'panel-primary': article.articleSentiment.sentiment == 'N'}">
					<div class="panel-heading" ng-click="viewArticle( $index )"><h4>{{! article.title }} </h4></div>
					<div class="panel-body">
						<span class="label" ng-class="{'label-success': entity.category == 'positive', 'label-danger': entity.category == 'negative', 'label-warning': entity.category == 'mixed'}" ng-repeat="entity in article.entities">{{! entity.text | uppercase}}<br/></span>
					</div>
					<div class="panel-footer">
						<p><b>Sentiment Score:</b> {{! article.articleSentiment.score }}<span class="pull-right"><b>Sentiment:</b> {{! getSentiment(article.articleSentiment.sentiment) }}</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="articleViewer">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="articleTitle"></h4>
				</div>
				<div class="modal-body" id="articleBody">

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/angular.min.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
	<script src="static/js/browser.min.js"></script>
	<script src="static/js/index.js"></script>
</body>
</html>

